.idea
/media/.env


/media/deluge/config/

/media/jackett/config/
/media/jellyfin/library/
/media/lidarr/config/
/media/ombi/config/
/media/radarr/config/
/media/sonarr/config/
/traefik/log/access.log
/traefik/alertmanager/
/traefik/blackbox/
/traefik/grafana/
/traefik/prometheus/
/traefik/traefik_dynamic.toml
